body{
    padding: 0;
    margin: 0;
    outline: none;
    background-color: #f2f5fe;
}
.home{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}


.main{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    text-align: center;
    gap: 15px;
}

.inputs{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.otp-input{
    width: 40px;
    height: 40px;
    border: 1px solid black;
    outline: none;
    font-size: 20px;
    text-align: center;
    background: transparent;
}

button{
    width: 100px;
    height: 40px;
    background-color: rgb(3, 86, 239);
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}


.login-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    text-align: center;
    border: 1px solid black;
    padding: 30px;
    background-color:#f4f6ff;
    border-radius: 5px;
    width: 320px;
    height: 480px;
    }

    .login-container h1:nth-child(1){
        margin-top: 0px;
    }

    .error{
        text-align: left;
    }

    .login-inputs{
        display: flex;
        flex: content;
        flex-direction: column;
        text-align: left;
        gap: 20px;
    }


    .email{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .email input[type="email"]{
        width: 300px;
        height: 25px;
        border-radius: 3px;
        border: 1px solid black;
        background: transparent;
        padding-left: 8px;
        outline: none;
    }
    .pass{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .pass input[type="password"]{
        width: 300px;
        height: 25px;
        border-radius: 3px;
        border: 1px solid black;
        background: transparent;
        padding-left: 8px;
        outline: none;
    }

  .remem-forgot{
    margin-left: -10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 86px;
    justify-content: space-around;
  }

  .check{
    display: flex;
    justify-content: center;
    align-items: center;
  }


    .login-button{
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    .login-button button{
            width: 310px;
            height: 30px;
            background-color: rgb(3, 86, 239);
            color: white;
            border: none;
            border-radius: 5px;
            margin-top: 10px;
            cursor: pointer;
        margin-right: 3px;
    }

    .login-with{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    .ggl{
        display: flex;
        width: 300px;
        height: 30px;
        border: 1px solid black;
        background: transparent;
        border-radius: 3px;
        text-align: center;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .ggl img{
        width: 20px;
        height: 20px;
    }

    .ggl p{
        color: black;
    }
    .fb{
        display: flex;
        width: 300px;
        height: 30px;
        border: 1px solid black;
        background: transparent;
        border-radius: 3px;
        text-align: center;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .fb img{
        width: 20px;
        height: 20px;    
    }

    .fb p{
            color: black;
    }